<%- include('partials/header'); -%>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <img class="about-pic" src="./images/IMG_9599.jpeg" alt="">
      </div>
      <div class="feature col">
        <h1>About me</h1>
        <p>Hello and welcome to my page.
           My name is Kinga Molitorisz. I am an Early Years Educator, a qualified Sleep Consultant, and a Nanny.
           For the past 12 years, I have been involved in working with children and their families.
           My experience has been gained through my work in various settings, including Children's Centres, nurseries, and Playgroups in
           London. I have also been a private nanny and still keep in
           Touch with all my families and the children I looked after.
           As a nanny and Early Years Educator I have taken on some families with challenging situations and helped them navigate through them
           with either parenting support or behaviour support. During Covid, I performed, proxy parenting duties as part of my job and travelled as
           a travel nanny.
           I have experience with children of all ages from newborns to teenagers and I also work for Baby and Child Agency which helped me
           gain more experience with on-off ad-hoc nannying, night nannying and babysitting jobs.
           As a level 6 qualified Sleep Consultant I have been lucky to help and give advice and support the families that I work with.</p>
           <br>
        <p>My aim is to help you and your family find solutions that work for you using my experience and knowledge, so I take holistic
           approach in all my services.
           Your family's needs are met through personalised support instead of a one-size-fits-all approach.
           If you have any questions about my service, or you think that I can help your family in any way,
           please book a free discovery call and I will do my best to find solutions that meet your needs.</p>
      </div>
    </div>
<%- include('partials/footer'); -%>
