<%- include('partials/header'); -%>
<h1>Behaviour support</h1>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <img class="behaviour-image " src="./images/IMG_8152.jpeg" alt="">
      </div>
      <div class="feature col">
        <p style="color:black;">All behaviour is based on communication, and it takes time for
           children to learn how to communicate with you, and other children,
           about how they're feeling and why they have acted in a certain way.</p>
        <p style="color:black;">Children should be provided with the right support to develop their
           communication skills. This will prevent challenging situations in the future, as
           they will be able to <u style="color:blue;">communicate how they are feeling</u> and will learn how to
           respond appropriately.</p>
        <p style="color:black;">Providing a caring, calm, and safe environment is central to positive behaviour
           management as this ensures that children are treated with respect.</p>
        <p style="color:black;">All children are different, and have different experiences prior to nursery as
           some children may be used to socialising, whilst others might be used to
           playing on their own.</p>
      </div>
      <div class="feature col">
        <img class="behaviour-image" src="./images/IMG_8078.jpeg" alt="">
      </div>
    </div>
<p style="color:black;text-align:center;">Let's have a chat and discuss what strategies might help you
   manage your child's behaviour in a caring, positive way.</p>
<%- include('partials/footer'); -%>
