<%- include('partials/header'); -%>
<div class="container">
  <h1>Family support</h1>
    <img style="text-align:center;" src="./images/children-reunion-1439476.jpeg" alt="">
    <p style="color:black;text-align:center;">Are you pregnant or just given birth and you are looking for options for your childcare
    needs or just some extra support? Have you just moved to London from abroad or from
    a different city and you need help finding a nursery or a school for your child? You don't
    know anything about the area? You need advice on where to look and what to look for in
    a school or nursery, childminder, nanny? You are struggling to find the best option of
    childcare for you and your little ones?</p>
    <p style="color:black;text-align:center;">Let's have a chat and see if I can help you in any way.</p><br>
    <br>
    <p style="color:black;text-align:center;">!!!Book a Free no obligation 15-30 minute discovery call!!!</p>
</div>
<%- include('partials/footer'); -%>
