<%- include('partials/header'); -%>
<h1>Nanny services</h1>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="feature col">
          <h3 class="fs-2 text-body-emphasis">Travel Nanny</h3>
          <p style="color:black;">A Travel Nanny accompanies a family on a trip abroad or in the UK. They
          are responsible for all aspects of childcare assuring the trip runs smoothly.
          Including navigating airports, fun activities and evening babysitting whilst
          you enjoy a child-free evening.</p>
          <p style="color:black;">It costs from £250/day for 24 hour care plus expenses. Please
          <a style="color:yellow;" href="#" class="icon-link">
            <u>contact me</u><br>
          </a>for a quote or for more information.</p>
  </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">Proxy parenting</h3>
        <p style="color:black;">Proxy parenting is when the parents are away from home and need
        somebody to take over the role of "parent" for a short period of time, be it
        a weekend or 2 weeks. This means a nanny steps in and provides care
        24 hours a day. The nanny will take over all parental duties, preparing
        meals, providing developmentally appropriate activities, the school run etc.</p>
        <p style="color:black;">It costs $221/day for a 24 hour care plus expenses. Please
        <a style="color:yellow;" href="#" class="icon-link">
          <u>contact me</u><br>
        </a>for a quote or for more information.</p>
      </div>
    </div>
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">Ad Hoc childcare day or night, tailored to your family's needs</h3>
      <p style="color:black;">An ad hoc nanny is a childcare professional that can come in and take over
      childcare duties at any time day or night. It is a great option for parents who want
      the flexibility of choosing when they need childcare with the standards of a
      professional nanny also without the hassle of employing someone.</p>
      <p style="color:black;">Maybe your regular childcare has let you down, you need a couple hours
      here and there to concentrate on work or you just want to enjoy a child
      free evening out!</p>
    </div>
<h1>Prices/Packages</h1>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">7:00am to 7:00pm</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Up to 3 Children from one family £20/Hour</li><br>
              <li>Aditional Children from the same family £1.00 Extra/Hour</li>
              <li>Two Family Share £15/Hour Per Family</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">7:00pm to Midnight</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Up to 3 Children from one family</li>
              <li>Monday-Friday £15/Hour</li>
              <li>Saturdat-Sunday £16/Hour</li><br>
              <li>Additional Children from the same family £1.00 Extra/Hour</li>
              <li>Two Family Share £10.50/Hour Per Family</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">After Midnight</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Up to 3 children from one family-£20.00/Hour</li><br>
              <li>Additional Children from the same family £1.00 Extra/Hour</li>
              <li>Two Family Share £15.00/Hour Per Family</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p style="color:black;text-align:center;">Please <a style="color:yellow;" href="#">contact me </a>for more information</p>
<%- include('partials/footer'); -%>
