@font-face {
  font-family: font_helvetica;
  src:url("../fonts/Helvetica-Bold-Font");
  font-family: font_academy;
  src:url("../fonts/AcademyEngravedLetPlain");
  font-family: font_arial;
  src:url("../fonts/arial");
}

body {
  background-color: #E59BE9;
}
h1 {
  color: #8644A2;
  text-align: center;
  font-family: font_helvetica;
}
h2 {
  color: #6895D2;
  text-align: center;
  font-family: font_academy;
}
h4 {
  color: #8644A2;
}
h5 {
  font-family: font_helvetica;
}
p {
  color: #8644A2;
}
a {
  color: #8644A2;
}
footer {
  background-color: #8644A2;
  justify-content: center;
  display: flex;
  height:auto;
}
footer div {
text-align: center;
margin:60px;
}
ul {
  list-style: none;
}
.card-carousel {
  border: none;
}
.card-services {
  border: none;
}
.image-card {
  height: 200px;
  width: 200px;
}
.logo {
  height: 110px;
  width: 200px;
  float:left;
  text-align: center;
}
.packages-title {
  color: #0E46A3;
}
.message-title {
  color: #FF5BAE;
}
.link{
  font-family: font_arial;
}
.icon-title {
  text-align: center;

}
.services-title {
  text-align: center;
}
.card-img-top {
  width: 500px;
  height: 500px;
}
.nav-link{
  color: #8644A2;
  font-family: font_arial;

}
.data {
  color: #6895D2;
}
.card {
  background-color: #E59BE9;
}
.child-image {
  width: 400px;
  height: 400px;
}
.about-pic {
  width: 400px;
  height: 820px;
}
.potty-image {
  width: 400px;
  height: 200px;
}
.behaviour-image {
  width:400px;
  height:430px;
}
.c1{

}
.c2{

}
.c3{

}
